---
---

@import "{{ site.theme }}";

.wrapper {
  width:1000px;
  // left side is 270
  // 1200-270 = 930
  // 30px free room
  margin:0 auto;
}

section {
  width:730px;
  float:right;
  padding-bottom:5px;
}

img {
  max-width: 75%;
  display: block;
  margin: 0 auto;
  margin-left: 20px; /* Adjust this value to push the logo more to the right */
}

